<a href="https://colab.research.google.com/github/vinhxtrinh/VinhTrinh_DTSC3020_Fall2025/blob/main/assignment2_vnt0026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruit = ["apple", "banana", "orange"]
print(fruit[0])
print(fruit[1])
print(fruit[2])

apple
banana
orange

In [2]:
fruit = ["apple", "banana", "orange","grape"]
fruit[0] = "mango"
print(fruit)

['mango', 'banana', 'orange', 'grape']

In [3]:
vehicle = ["car", "bus", "bike", "truck", "scooter"]
vehicle.append("train")
print(vehicle)

['car', 'bus', 'bike', 'truck', 'scooter', 'train']

In [4]:
food = ["rice", "noodel", "pizza", "chicken", "burger", "cheese"]
food.remove("cheese")
print(food)

['rice', 'noodel', 'pizza', 'chicken', 'burger']

In [6]:
city = ["denton", "dallas", "tokyo", "newyork"]
city.sort()
print(city)
city.reverse()
print(city)

['dallas', 'denton', 'newyork', 'tokyo']
['tokyo', 'newyork', 'denton', 'dallas']

In [7]:
animal = ["cat", "dog", "fish"]
for animal in animal:
  print(animal)

cat
dog
fish

In [8]:
num = [1,2,3,4,5]
for num in num:
  print(num*2)

2
4
6
8
10

In [10]:
friend = ['a','b','c','d', 'e','f']
print(friend[:3])
print(friend[-3:])

['a', 'b', 'c']
['d', 'e', 'f']

In [12]:
num = list(range(1,11))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
num = [x**2 for x in range(1,6)]
print(num)

[1, 4, 9, 16, 25]